<template>
<div class="grid-wrapper">
  <div class="grid-filters m-b-md clearfix" style="margin-bottom: 15px;">
      <input type="text" class="pull-right" style="height: 34px; vertical-align: middle; width:250px;" placeholder="Search" v-model="filterKey">
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <!-- <th class="text-center"><input type="checkbox" v-model="toggleAll"></th> -->
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="['text-' + key.align, {active: sortKey == key.name}]">
              {{key.label | capitalize}}
              <span class="arrow" :class="sortOrders[key.name] > 0 ? 'asc' : 'dsc'"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="
            entry in data
            | filterBy filterKey
            | orderBy sortKey sortOrders[sortKey]">
            <!-- <td class="text-center"><input type="checkbox" v-model="entry.selected" @change="selectRow(entry)"></td> -->
            <td v-for="key in columns":class="['text-' + key.align]" >
              
              <template v-if="key.name == 'url'">
                <a href="{{entry.url}}" target="_blank" v-show="!entry.editing">{{entry.url}}</a>
                <input v-model="entry.url" v-show="entry.editing">
              </template>
              <template v-else>
               {{{entry[key.name] | maybeCurrency key.convert }}}
              </template> 
            </td>
            <td class="actions">
              <button type="button" :class="{'btn btn-default' : !entry.editing, 'btn btn-success' : entry.editing}" @click="editToggle(entry)"><i :class="{'glyphicon glyphicon-pencil' : !entry.editing, 'glyphicon glyphicon-ok' : entry.editing}"></i></button>
              <button type="button" class="btn btn-default btn-delete" @click="deleteEntry(entry)"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</template>
<script>
import Modal from './Modal.vue';

export default {
  components: { Modal },
  props: {
    data: {
      type:Array,
      twoWay: true
    },
    type: String,
    columns: Array,
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key.name] = 1
    });
    
    return {
      sortKey: '',
      sortOrders: sortOrders,
      toggleAll: true,
      filterKey: '',
      selectedRows: [],
      showDeleteModal: false,
    }
  },

  methods: {
    sortBy: function (key) {
      this.sortKey = key.name
      this.sortOrders[key.name] = this.sortOrders[key.name] * -1
    },
    selectRow: function(row) {
      this.$emit('changed');
    },
    editToggle(entry) {
      if(entry.editing) {
        
        this.$http.post(`/links/${entry.id}`, entry).then(response => {
            entry.editing = false;
          }, response => {
            // error callback
          });
        
        return;
      }

      entry.editing = !entry.editing;
      
    },
    canEdit: function(entry) {
      return entry.editable && entry.editing;
    },
    deleteEntry: function(entry) {
      // this.showDeleteModal = true;
      let del = confirm('Are you sure?');
      if(del == true) {
         this.$http.delete(`/links/${entry.id}`).then(response => {
            this.data.$remove(entry)
          }, response => {
            
          });
      } else {
        console.log('cancelled');
      }
    }
   
  },

  filters: {
    maybeCurrency: function(value, convert) {
      var convert = convert || false;
      var filter = Vue.filter('currency');
      if(!convert) { return value;  }

      return filter(value);
    }
  },
  watch: {
    columns: function(val, oldVal) {
      var sortOrders = {}
      val.forEach(function (key) {
        sortOrders[key.name] = 1
      });
      this.sortOrders = sortOrders;
    },

    "toggleAll": function(value) {
      Vue.nextTick(() => {
        this.data.forEach(function(item) {
          return item.selected = value; 
        });
        this.$emit('changed');
      });       
    }

  }
};
</script>