.table .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66; }

.table .arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666; }

.table .arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666; }

.table thead th:first-child, .table thead th:nth-child(4) {
  min-width: 100px; }

.table thead th:last-child {
  min-width: 120px; }

.table td[contenteditable=true] {
  background: red; }

.grid-filters ul.dropdown-menu li {
  margin-left: 20px; }

/*# sourceMappingURL=app.css.map */
