// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table {
  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #666;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666;
  }
  thead {
  	th {
  		&:first-child,
  		&:nth-child(4) {
  			min-width: 100px;
  		}
      &:last-child {
        min-width: 120px;
      }
  	}
  }
  td[contenteditable=true] {
    background: red;
  }
}

.grid-filters {
  ul.dropdown-menu {
    li {
      margin-left: 20px;
    }
  }
}