
<script>
import vTable from './components/Table.vue'
import moment from 'moment';

export default {
  components: {
    vTable
  },
  ready() {
  	this.parseLinks(MagMod.links);
  },
  data() {
  	return {
  		url: '',
  		source: '',
  		campaign: '',
  		medium: '',
  		tableData: [],
  		gridColumns: [
            {name:'source', label: 'Source', align: 'left', convert: false, visible: true, editable: false},
            {name:'link', label: 'Link', align: 'left', convert: false, visible: true, editable: false},
            {name:'url', label: 'URL', align: 'left', convert: false, visible: true, editable: true},
            {name:'medium', label: 'Medium', align: 'left', convert: false, visible: true, editable: false},
            {name:'campaign', label: 'Campaign', align: 'left', convert: false, visible: true, editable: false},
            {name:'created_at', label: 'Created', align: 'center', convert: false, visible: true, editable: false},
           
        ],
  	}
  },
  methods: {
  	parseLinks(links) {
  		links.forEach( link => {
  			link.link = MagMod.baseURL.concat(link.hash);
  			link.anchor = `<a href="${link.url}" target="_blank">${link.url}</a>`;
        link.created_at = moment(link.created_at).format('M-D-Y');
        link.editing = false;
  			return link;
  		});
  		this.tableData = links;
  	}
  },
  computed: {
  	previewLink() {
  		if(!this.url) return;
  		let params = {};
  		let link = this.url;
  	
  		if(this.source) {
  			params['utm_source'] = this.source;
  		}

  		if(this.medium) {
  			params['utm_medium'] = this.medium;
  		}
  		
  		if(this.campaign) {
  			params['utm_campaign'] = this.campaign;
  		}

		let esc = encodeURIComponent;
		let query = Object.keys(params)
		    .map(k => esc(k) + '=' + esc(params[k]))
		    .join('&');
		 

    if(query) {
      if(link.indexOf('?') !== -1) {
        query = '&' + query;
      } else {
        query = '?' + query;
      }
    } else {
      query = '';
    }
    		
		return link.concat(query);
  	}
  }
}
</script>