h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: Open Sans;
}

output { text-align: center; }

.wrapper {
    position: relative;
    padding-top: 10%;
}
.put-the-dang-thing-in-the-middle {
   /* width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;*/
    top: 0; left: 0; bottom: 0; right: 0;
}

.available {
    padding-top: 5%;
   
    margin: 0 auto;

}
.available  h3 {
    text-align: center;
}
#shorten-input {
    height: 60px;
    margin: auto;
    color: #999;
    font-size: 1.9em;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
    margin-top: 1em;
}
.table .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66; }

.table .arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666; }

.table .arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666; }

.grid-filters ul.dropdown-menu li {
  margin-left: 20px; }

.table thead th:first-child, 
.table thead th:nth-child(4) {
  min-width: 80px; }
.table tr td:nth-child(3) {
  max-width: 385px;
  word-wrap: break-word;
}
.table thead th:last-child {
    min-width: 102px;
}

.table td[contenteditable="true"] {
  background: #d9edf7;
}
.table td input {
  width: 100%;
}
.btn-default.btn-delete {
  color: #a94442;
}
@media (min-width: 1200px) {
.container {
    width: 1280px;
}
}
